* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #333;
}

ul {
   list-style-type: none;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.timer {
   display: flex;
   align-items: center;
   margin-bottom: 50px;
   font-size: 32px;
   color: #fff;
}

h1 {
   margin-bottom: 30px;
   font-size: 64px;
   color: #fff;
}

button {
   text-align: center;
   width: 200px;
   border: none;
   padding: 20px 50px;
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   border-radius: 10px;
   cursor: pointer;
   box-shadow: 0 0 10px 0 rgba(107, 106, 106, 0.7);
   transition: box-shadow .3s ease-in;
}

button:hover {
   box-shadow: 0 0 30px 0 rgba(107, 106, 106, 0.7);
}

#start {
   background-color: rgb(24, 146, 65);
}

#pause {
   background-color: rgb(40, 74, 184);
}

#reset {
   background-color: transparent;
   margin-left: 50px;
   transition: background ease-in .3s;
}
#reset:hover {
   background-color: rgb(243, 105, 50);
   margin-left: 50px;
}

.add__item {
   margin-right: 50px;
   background-color: rgb(113, 250, 100);
}
.add__item[disabled]{
   background-color: #ccc;
}
.list{
   height: 300px;
   margin-top: 50px;
   overflow: auto;
}
.list::-webkit-scrollbar{
   display: none;
}
.list__item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 600px;
   padding: 15px 30px;
   background-color: rgb(104, 102, 102);
   color: #fff;
   font-weight: 700;
   letter-spacing: 2px;
   margin-bottom: 15px;
   border-radius: 15px;
   font-size: 20px;
}
.delete__btn{
   width: 150px;
   padding: 5px;
   font-weight: 500;
   border-radius: 8px;
   background-color: rgb(248, 104, 78);
   box-shadow: none;
}